$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Roboto');


// set colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #99CC33; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//** Border color for inputs
$input-border-focus: #99CC33 !default;
$input-border: #ccc;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

// set border radius
$border-radius-base:        2px !default;
$border-radius-large:       2px !default;
$border-radius-small:       1.5px !default;

$header-bg: #fff;
$header-bg-border: #fff;
$header-text: #5e5e5e;
$bg-color: #16A085;

body{
  background: $bg-color;
  font-family: Roboto;
}

#loader{
  z-index: 999;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom:0;
  background: rgba(255,255,255,.9);
  text-align: center;
}

.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;
}

.temperature{
  text-align: center;
  .sliderholder{
    padding: 60px 0;
    text-align: left;
    margin: 0 auto;
    width:240px;
  }
}

#handle1 .rs-bg-color{
  background-color: $bg-color;
}
#handle1 .rs-handle{
  background: #fff;
  height: 18px;
  width: 18px;
  margin: -10px 0px 0px -0px;
}
#handle1 .rs-tooltip  {
  top: 60%;
  font-size: 70px;
  color:#fff;
  font-family: Roboto;
  border-radius: 0;
}
#handle1 .rs-tooltip div.current  {
  text-align: center;
  background: #2ABB9B;
  color: white;
  border-radius: 15px;
  padding: 2px 0;
  height: 24px;
  margin-top: 30px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width:120px;
}
#handle1 .rs-range-color  {
  background-color: #fff;
}
#handle1 .rs-path-color  {
  background-color: #049372;
}
#handle1 .rs-border{
  border: #fff;
}


/* Custom page header */
.header {
  border-bottom: 2px solid $header-bg-border;
  background: $header-bg;
  padding: 21px 0 0;
  text-align: center;
  color: $header-text;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;

  /* Make the masthead heading the same height as the navigation */
  .button-back{
    font-size: 26px;
    color: $header-text;
    position: absolute;
    left: 0;
    top:-14px;
    display: inline-block;
    height: 44px;
    padding: 10px;
  }
  .button-right{
    font-size: 26px;
    color: $header-text;
    position: absolute;
    right: 0;
    top:-14px;
    display: inline-block;
    height: 44px;
    padding: 10px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    font-size:20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 21px;
  }

  .top-menu{
    padding: 0 15px;
  }
  .top-menu a{
    font-size:32px;
    color: $header-text;
    padding-top: 15px;
    border-right: 1px solid #f1f1f1;
  }
  .top-menu a:hover, .top-menu a.active{
    text-decoration: none;
    color: #2ABB9B;
  }
  .top-menu a:first-child{
    border-left: 1px solid #f1f1f1;
  }

}

.has-header{
  padding-top: 125px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }

  body{
    background-size:760px;
  }
}
